* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  Color: #fffcf9;

  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%) no-repeat;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 8px;            
}

body::-webkit-scrollbar-track {
  background: #000000;  
}

body::-webkit-scrollbar-thumb {
  background-color:#101313;   
  border-radius: 20px;      
}